# dependências
node_modules/

# build
dist/
dist-ssr/
*.local

# logs
logs/
*.log
npm-debug.log*

# sistema
.DS_Store
Thumbs.db

# editores
.vscode/*
!.vscode/extensions.json
.idea/

# env
.env
.env.*
!.env.example
